# Ignore logs and virtual environments
/logs/
/venv/

# Ignore common C# build artifacts inside generated client
/csharp_client/RemovalProcess/bin/
/csharp_client/RemovalProcess/obj/
/csharp_client/RemovalProcess/*.csproj.user/
/csharp_client/RemovalProcess/.vs/

# Common Python ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
